html, body {
    color: #323232;
    font-size: 16px;
    line-height: 1.68;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.47;
}

.button {
    display: inline-block;
    height: 58px;
    padding: 0 37px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: $orange;
    border-radius: 29px;
    line-height: 58px;
    transition: background-color 0.2s ease-in;
    &:hover {
        background-color: $orange-hover;
    }
    &--white {
        position: relative;
        background-color: #ffffff;
        color: #323232;
        &:hover {
            color: white;
            background-color: #323232;
        }
        &::before {
            position: absolute;
            left: 20px;
            top: 40%;
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-image: url('../img/play.svg');
            background-size: cover;
        }
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
