* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background: none;
}

input,
button {
  border: none;
  font-family: inherit;
}

ul,
li {
  list-style: none;
}

html,
body {
  color: #323232;
  font-size: 16px;
  line-height: 1.68;
}

body {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.47;
}

.button {
  display: inline-block;
  height: 58px;
  padding: 0 37px;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #F78434;
  border-radius: 29px;
  line-height: 58px;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #ff6a00;
}

.button--white {
  position: relative;
  background-color: #ffffff;
  color: #323232;
}

.button--white:hover {
  color: white;
  background-color: #323232;
}

.button--white::before {
  position: absolute;
  left: 20px;
  top: 40%;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/play.svg");
  background-size: cover;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: 700;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul li {
  margin-right: 42px;
}

.navigation ul li:last-child {
  margin-right: 0px;
}

.navigation ul a.active {
  color: #F78434;
  font-weight: 700;
}

.navigation ul a:hover {
  color: #F78434;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text {
  width: 465px;
}

.header__text p {
  line-height: 1.68;
  margin-bottom: 42px;
}

.header__title {
  position: relative;
  font-size: 54px;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.46;
  margin-right: -160px;
}

.header__img img {
  border-radius: 40px 40px 40px 0px;
}

.header .form {
  height: 58px;
  background: #ffffff;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

.header .form--active {
  -webkit-box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
          box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
}

.header .form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .form__label::before {
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  margin-right: 20px;
  margin-left: 28px;
  background-image: url("../img/mail.svg");
  background-size: initial;
}

.header .form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 20px;
  padding: 5px;
}

.header .form__input ::-webkit-input-placeholder {
  color: #BBBBBB;
}

.header .form__input ::-moz-placeholder {
  color: #BBBBBB;
}

.header .form__input :-ms-input-placeholder {
  color: #BBBBBB;
}

.header .form__input ::-ms-input-placeholder {
  color: #BBBBBB;
}

.header .form__input ::placeholder {
  color: #BBBBBB;
}

.partners {
  padding-top: 90px;
  padding-bottom: 100px;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space {
  margin-bottom: 154px;
}

.space__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.space__img .img-card {
  position: relative;
  margin-left: 5px;
}

.space__img .img-card__img {
  border-radius: 20px;
  width: 385px;
  height: 550px;
  z-index: -100;
}

.space__img .img-card__info {
  position: absolute;
  right: -46px;
  bottom: 80px;
}

.space__text {
  max-width: 543px;
  padding-left: 181px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.space__text p {
  margin-top: 20px;
}

.space__text a {
  margin-top: 40px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 32px 29px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__icon img {
  width: 45px;
  height: 45px;
}

.product {
  padding-bottom: 144px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(50%, #F5F6FA));
  background: -o-linear-gradient(top, #ffffff 50%, #F5F6FA 50%);
  background: linear-gradient(to bottom, #ffffff 50%, #F5F6FA 50%);
}

.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #58BEBF;
  border-radius: 20px;
}

.product__img {
  margin-top: 60px;
  padding-top: 25px;
  padding-right: 25px;
  background: white;
  width: 465px;
  border-radius: 0 21.6px 0 0;
}

.product__text {
  color: #ffffff;
  width: 364px;
  margin-right: 95px;
}

.product__text h3 {
  margin-bottom: 15px;
}

.product__text p {
  margin-bottom: 30px;
  letter-spacing: 1.15px;
}

.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.serve {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F5F6FA), color-stop(50%, #ffffff));
  background: -o-linear-gradient(top, #F5F6FA 50%, #ffffff 50%);
  background: linear-gradient(to bottom, #F5F6FA 50%, #ffffff 50%);
}

.serve__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serve__column h2 {
  margin-bottom: 10px;
}

.serve__description {
  margin-bottom: 45px;
}

.serve__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.serve__clients img {
  width: 70px;
  height: 70px;
}

.serve__buyers,
.serve__seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 540px;
  padding: 40px 88px;
  border-radius: 10px;
}

.serve__buyers p,
.serve__seller p {
  text-align: center;
  margin-bottom: 25px;
}

.serve__buyers {
  background-color: #F78434;
  color: #FFFFFF;
}

.serve__buyers a {
  background-color: #FFFFFF;
  color: #F78434;
}

.serve__buyers a:hover {
  background-color: #323232;
  color: #FFFFFF;
}

.serve__seller {
  -webkit-box-shadow: 0px 40px 52px -22px rgba(253, 178, 178, 0.08);
          box-shadow: 0px 40px 52px -22px rgba(253, 178, 178, 0.08);
  background: #FFFFFF;
}
@supports (-webkit-appearance:none){
.button--white::before{background-image:url("../img/play.svg")}
.header .form__label::before{background-image:url("../img/mail.svg")}
}
